{% extends 'base.html' %}

{% block title %}
About Page 
{% endblock title %}


{% block content %}
<p class="mainheading"> ABOUT US</p>
<p class="paragraph-setting">
    Over the years we have been providing our students with the <br> latest and up to date curriculum
    encouraging them to <br> serve the tech community. Our college is spread over<br> 33 acres and is 
    equipped with the latest technology <br>and has largest library of the city. But, we believe 
    students <br>are our most valued assests so we have dedicated<br> staff to guide students to 
    achieve their goals
</p>
{% endblock content %}