{%extends 'base.html' %}
{% load static %}


{% block title %}
Courses Page 
{% endblock title %}


{% block content %}
<div class="courses-grid">
    <div>
        <p class="secondaryheading">Front-end Software Development(1 year)</p>
        <p class="paragraph-settings">n this hands-on course, you'll dive deep into the technical side of things. 
            You'll learn how to use HTML to structure web pages, CSS to make them look beautiful, 
            and JavaScript to add interactivity and functionality. We'll also explore the latest front-end frameworks
             like React and Angular, which are super popular in the industry. Get ready to unleash your creativity and 
             become a web development wizard! Let's code up a storm together!</p>
    </div>
    <div>
        <p class="secondaryheading">Back-end Software Development(2 years)</p>
        <p class="paragraph-settings">you'll learn how to build the server-side of websites and 
            web apps using languages like Python or Node.js. You'll also explore databases, APIs, 
            and security practices. We'll cover frameworks like Django or Express.js to make your 
            development process smoother. Get ready to create powerful and scalable web applications
             that can handle all sorts of user interactions. Let's dive into the world of backend development together!</p>
    </div>
    <div>
        <p class="secondaryheading">Cloud Computing (2 years)</p>
        <p class="paragraph-settings">n this course, you'll learn about different cloud platforms 
            like Amazon Web Services (AWS) or Microsoft Azure. 
            We'll dive into topics like virtualization, storage, networking, and security
             in the cloud. You'll also get hands-on experience with deploying and 
             managing applications using cloud services. Get ready to take your tech skills to new heights 
             with the magic of the cloud! Let's soar together!</p>
    </div>
    <div>
        <p class="secondaryheading">Machine Learning (2 years)</p>
        <p class="paragraph-settings">you'll dive into algorithms, data analysis, 
            and model training. You'll learn how to use popular machine learning 
            libraries like TensorFlow or scikit-learn. We'll cover topics like regression,
             classification, and neural networks. Plus, you'll get to work on real-world projects
              to apply your knowledge. Get ready to unlock the power of AI and make some amazing predictions!</p>
    </div>
    <div>
        <p class="secondaryheading">Internet of Things (1 year) </p>
        <p class="paragraph-settings">In this course, you'll learn how to build 
            and program IoT devices using platforms like Arduino or Raspberry Pi. 
            We'll cover topics like sensors, actuators, and communication protocols.
             You'll also get hands-on experience with cloud integration and data analysis for
              IoT applications. Get ready to bring everyday objects to life and create innovative
               solutions with the Internet of Things!</p>
    </div>
</div>
{% endblock content %}