{% extends 'base.html' %}

{% block title %}
HomePage
{% endblock title %}

{% block content %}
<div class="homepagetext">
    <p class="mainheading"> WELCOME TO MY COLLEGE</p>
    <p class="secondaryheading"> We offer you wide range of </p>
    <ul class="Listsettings">
        <li>Specialized Programs</li>
        <li>Hands-on Training</li>
        <li>Industry-Relevant Curriculum</li>
        <li>State-of-the-Art Facilities</li>
        <li>Internship and Job Placement Assistance</li>
        <li>Research Opportunities</li>
        <li>Career Services</li>
    </ul>
</div>
{% endblock content %}