{% extends 'base.html' %}
{% load static %}
{% block title %}
Profile Page
{% endblock title %}


{% block content %}



<table class="table">
    <tr>
        <td> Student ID </td>
        <td> {{object.id}}</td>
    </tr>
    <tr>
        <td> Username </td>
        <td> {{object.username}}</td>
    </tr>
    <tr>
        <td> Email </td>
        <td> {{object.email}}</td>
    </tr>
    <tr>
        <td> Course </td>
        <td> {{object.course}}</td>
    </tr>
    <tr>
        <td> Fees </td>
        <td> {{object.estimated_fees}}</td>
    </tr>
    <tr>
        <td> Date of Birth </td>
        <td> {{object.date_of_birth}}</td>
    </tr>


</table>

{% endblock content %}